body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
  /* color: black; */
}
a:visited {
  text-decoration: none;
  /* color: black; */
}
a:hover {
  text-decoration: none;
  /* color: black; */
}
a:active {
  text-decoration: none;
  /* color: black; */
}

.hero-image {
  background: url("./Images/footprint.jpg") no-repeat center center fixed;
  /* filter: brightness(80%); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 600px){
  .hero-image {
    background: url("./Images/mobilesizefootprint.jpg") no-repeat center center fixed;
    /* filter: brightness(80%); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 150px;
}

.navlinks {
  color: rgba(9, 138, 90, 0.79);
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./Fonts/Raleway-ExtraBold.ttf) format("truetype");
}