body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #f7f5ee;
  --green: #5cb55d;
  --litegreen: #8cd08c;
  --blue: #8dd1d3;
  --purple: #f3d8ec;
  --yellow: #f6ef73;
  --off-black: #181818;
}

